# Maven
target/

# Eclipse
.project
.classpath
.settings/
.checkstyle
Servers/
.metadata/

# Intellj IDEA
*.iml
*.ipr
*.iws

# Temp file
*~
.DS_Store
*.log


# Binary
*.jar
*.zip
*.tar.gz

# Less
*.css

# ElasticSearch
elasticsearch/test-output/

