
@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";

/* ===== Primary Styles ========================================================
   Author: Igor Laborie <ilaborie@gmail.com>
   ========================================================================== */

// Colors
//@colorShelf: #FFD9B3;
//@colorSource: #E5F7FF;
@colorShelf: #EEE;
@colorSource: #EEE;

@colorLocation: #0D633C;

@navbarBackgroundHighlight: #408000;
@navbarBackground: darken(@navbarBackgroundHighlight,10%);

// Size
@textareaHeight: 5.6em;

// Skins

body.skin1 {
	background-image: url(../img/back_1.jpg);
	background-repeat: repeat;
	
	.container {
		
		.content {
			.border-radius();
			.box-shadow();
		
			background-image: url(../img/ghost.png);
			margin: 0px;
			padding: 8px;
			
			.block {
				.border-radius();
				text-shadow: 0 1px 0 white;
				border: 1px solid #EEE;
				background-color: #F9F9F9;
				padding: 6px;	
				margin-leflt: 30px;
			}
		}
	}
}

// Mixins
footer {
	text-align: right;
	margin-right: 1em;
}

.box (@color: #ccc) when (iscolor(@color)){
	.border-radius(16px);
	.box-shadow();
	margin-bottom: 1em;
	padding: 1em;
	background-color: @color;
	border-width: medium;
	border-style: solid;
	border-color: darken(@color,25%);
}

// Navbar
.navbar-inner {
  #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
 }
.brand {
	text-shadow: 2px 2px 2px rgba(255,255,255,.5);
	font-family: 'Mystery Quest', cursive;
	font-size: 160%;
	font-weight: bold;
}

// Forms
.mandatory {
	font-weight: bold;
}
.modal {
	input {
		width: 100%;
	}
	textarea {
		width: 100%;
	}
	.checkbox {
		input {
			width: auto;
		}
	}
}

// Search

#search-input {
	display: inline-block;
}

#search-result {
	margin-top: 1em;
	#search-result-info {
		color: @gray;
		font-style: italic;
	}
}
.result {
	margin-bottom: 1em;
	.location {
		color: @colorLocation;
	}
	.teaser {
		color: @grayDark;
	}
}


// Administration
#admin-notify {
	margin-bottom: 0.5em;
}
.shelf {
	.box(@colorShelf);
}
#shelf-form {
	background-color: @colorShelf;
	border-color: darken(@colorShelf,25%);
	border-width: medium;
}
#shelf-description {
	height: @textareaHeight;
} 

.source {
	.box(@colorSource);
	.location {
		color: @colorLocation;
	}
}
#source-form {
	background-color: @colorSource;
	border-color: darken(@colorSource,25%);	
	border-width: medium;
}
#source-description {
	height: @textareaHeight;
}

#source-links-detail {
	padding-bottom: 4px;
}

#source-links-create-detail {
	textarea {
		height: @textareaHeight;
	}
}

#btnAddLink {
	margin-right: 17px;
}
#btnSaveSource {
	margin-right: 4px;
}

#source-links-all {
	ul {
		li {
			margin : 4px;
			a {
				display: inline-block;
			}
		}
	}
}
